<link rel="stylesheet" href="/stylesheets/productDetail.css">

<%-include('../partials/header')%>
<main>
    <section class="detalleprod">
        <article class="image">
            <img src="/images/imagentipo.png" alt="">
            <div>
                <h1><span class="nombreprod"> Nombre Producto</span> <span class="precioprod"> $$$$</span></h1>
                <button>Agregar al carrito</button>
            </div>
        </article>
        <article class="detail">
            <p>Detalles del producto </p>
            <ul>
                <li>Tipo</li>
                <li>Color</li>
                <li>Medidas</li>
                <li>Material</li>
            </ul>
        </article>
    </section>
    <h2 class="titulorel">Productos relacionados</h2>
    <section class="relacionados">
        <article>
            <img src="/images/imagentipo.png" alt="">
            <h4><span class="producto"> Producto</span><span class="precio"> $$$$ </span></h4>
        </article>
        <article>
            <img src="/images/imagentipo.png" alt="">
            <h4><span class="producto"> Producto</span><span class="precio"> $$$$ </span></h4>
        </article>
        <article>
            <img src="/images/imagentipo.png" alt="">
            <h4><span class="producto"> Producto</span><span class="precio"> $$$$ </span></h4>
        </article>
        <article>
            <img src="/images/imagentipo.png" alt="">
            <h4><span class="producto"> Producto</span><span class="precio"> $$$$ </span></h4>
        </article>

    </section>
</main>
<%-include('../partials/footer')%>