<link rel="stylesheet" href="/stylesheets/productRubro.css">

<%-include('../partials/header')%>
<main>
    <h2>Rubros</h2>
    <section class="rubros">
        <article class="tarjeta-rubro">
            <a href="/products">
                <img src="/images/imagentipo.png" alt="">
                <h3>Mates</h3>
            </a>
        </article>
        <article class="tarjeta-rubro">
            <a href="/product">
                <img src="/images/imagentipo.png" alt="">
                <h3>Vasos</h3>
            </a>
        </article>
        <article class="tarjeta-rubro">
            <a href="/product">
                <img src="/images/imagentipo.png" alt="">
                <h3>Bowls</h3>
            </a>
        </article>
        <article class="tarjeta-rubro">
            <a href="/product">
                <img src="/images/imagentipo.png" alt="">
                <h3>Varios</h3>

            </a>
        </article>
    </section>
</main>
<%-include('../partials/footer')%>