<footer>
    <div class="info">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="iconos">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>
</footer>