<footer>
    <div class="info">
        <a href=""> <p>FAQs</p> </a>
        <a href=""> <p>Tel</p> </a>
        <a href="mailto:ventascloverbazar@gmail.com"> <p>Email</p> </a>
        <a href=""> <p>Ubicacion</p> </a>
    </div>
    <div class="iconos">
        <a href="https://www.instagram.com/cloverbazaryhome">Instagram</a>
        <a href="https://www.facebook.com/cloverbazaryhome">Facebook</a>
        <a href="https://wa.me/5491128056500">Whatsapp</a>
    </div>
</footer>