<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="barra1">
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="loginButton">
                <button>Log In</button>
            </div>
        </div>
        <div class="barra2">
            <div class="logo"><img src="/images/logo-clover.png" alt="logo clover"></div>
            <div class="search"><i class="fas fa-search"></i></div>
            <nav class="menu">
                <i class="fas fa-bars"></i>
                <ul>
                    <a href="/productRubro">
                        <li>Productos</li>
                    </a>
                    <a href="/contacto">
                        <li>Contacto</li>
                    </a>
                    <a href="/mayorista">
                        <li>Mayorista</li>
                    </a>
                    <a href="/faqs">
                        <li>FAQs</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>