<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


  <title>Document</title>
</head>
<body>
  <header>
    <div class="barra1">
        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="loginButton">
            <button>Log In</button>
        </div>
    </div>
    <div class="barra2">
        <div class="logo"><img src="/images/logo-clover.png" alt="logo clover"></div>
        <div class="search"><i class="fas fa-search"></i></div>
        <nav class="menu">
            <i class="fas fa-bars"></i>
            <ul>
                <a href="/productRubro">
                    <li>Productos</li>
                </a>
                <a href="/contacto">
                    <li>Contacto</li>
                </a>
                <a href="/mayorista">
                    <li>Mayorista</li>
                </a>
                <a href="/faqs">
                    <li>FAQs</li>
                </a>
            </ul>
        </nav>
    </div>
  </header>
  <main>
    <section class="carrusel">
      <a href="">
        <img src="/images/imagentipo.png" alt="">
        <h1>Tu bazar online</h1>
      </a>

    </section>
    <section class="secciones">
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="destacados">
          <h3>Destacados</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="ofertas">
          <h3>Ofertas</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="lineaproductos">
          <h3>Linea de productos</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="Combos">
          <h3>Combos</h3>
        </a>
      </article>
    </section>
    <section class="productos">
      <article class="Producto1">
        <a href="">
          <img src="/images/imagentipo.png" alt="Producto1">
          <h3>Producto1</h3>
        </a>
        <article class="Producto2">
          <a href="">
            <img src="/images/imagentipo.png" alt="Producto2">
            <h3>Producto2</h3>
          </a>
        </article>
        <article class="Producto3">
          <a href="">
            <img src="/images/imagentipo.png" alt="Producto3">
            <h3></p>Producto3</h3>
          </a>
        </article>
        <article class="Producto4">
          <a href="">
            <img src="/images/imagentipo.png" alt="Producto4">
            <h3>Producto4</h3>
          </a>
    </section>
    <section class="formulario">
      <form action="">
        <label for="Asunto">
          Escribinos!
        </label>
        <input type="text" id="Asunto" placeholder="Asunto"> 
        <input type="email" placeholder="Email"> 
        <textarea name="Mensaje" id="Mensaje" cols="30" rows="10" placeholder="Tu Mensaje"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>
  <footer>
    <div class="info">
        <a href=""> <p>FAQs</p> </a>
        <a href=""> <p>Tel</p> </a>
        <a href="mailto:ventascloverbazar@gmail.com"> <p>Email</p> </a>
        <a href=""> <p>Ubicacion</p> </a>
    </div>
    <div class="iconos">
        <a href="https://www.instagram.com/cloverbazaryhome">Instagram</a>
        <a href="https://www.facebook.com/cloverbazaryhome">Facebook</a>
        <a href="https://wa.me/5491128056500">Whatsapp</a>
    </div>
</footer>
</body>
</html>