
  <link rel="stylesheet" href="/stylesheets/index.css">

  <%-include('partials/header')%>
  <main>
    <section class="carrusel">
      <a href="">
        <img src="/images/imagentipo.png" alt="">
        <h1>-Tu bazar online-</h1>
      </a>

    </section>
    <section class="secciones">
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="destacados">
          <h3>Destacados</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="ofertas">
          <h3>Ofertas</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="lineaproductos">
          <h3>Linea de productos</h3>
        </a>
      </article>
      <article>
        <a href="">
          <img src="/images/imagentipo.png" alt="Combos">
          <h3>Combos</h3>
        </a>
      </article>
    </section>
    <h2>Productos</h2>
    <section class="productos">
      <article class="producto">
        <a href="">
          <img src="/images/imagentipo.png" alt="Producto1">
          <h3>Producto1</h3>
        </a>
      </article>
      <article class="producto">
          <a href="">
            <img src="/images/imagentipo.png" alt="producto">
            <h3>Producto2</h3>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="/images/imagentipo.png" alt="producto">
            <h3>Producto3</h3>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="/images/imagentipo.png" alt="Producto4">
            <h3>Producto4</h3>
          </a>
        </article>
    </section>
    <section class="formulario">
      <form action="">
        <label for="Asunto">
          Escribinos!
        </label>
        <input type="text" id="Asunto" placeholder="Asunto"> 
        <input type="email" placeholder="Email"> 
        <textarea name="Mensaje" id="Mensaje" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>
  <%-include('partials/footer')%>
