<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Iniciar sesión</h2>
        <form action="" method="POST">
            <input type="text" placeholder="e-mail">
            <input type="password" placeholder="contraseña">
            <a href="/register">No tenes cuenta? Registrarse</a>
            <button type="submit">Inicio</button>
        </form>
    </main>
</body>
</html>