<link rel="stylesheet" href="/stylesheets/mayorista.css">

<%-include('./partials/header', {title: 'Info mayorista'})%>
<main>
    <h1>Venta Mayorista</h1>
    <h4>Si te interesa comprar nuestros productos por mayor completa el formulario y nos comunicaremos lo antes posible
    </h4>
    <form action="/mandarMailMayorista" method="POST">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="celular" placeholder="Celular">
        <textarea name="mensaje" id="Mensaje" cols="30" rows="10" placeholder="Consulta"></textarea>
        <button type="submit">Enviar</button>
    </form>
</main>
<%-include('./partials/footer')%>