<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="rubros">
            <article class="mates">
                <a href="">
                    <img src="" alt="">
                    <p>Mates</p>
                </a>
            </article>
            <article class="Vasos">
                <a href="">
                    <img src="" alt="">
                    <p>Vasos</p>
                </a>
            </article>
            <article class="Bowls">
                <a href="">
                    <img src="" alt="">
                    <p>Bowls</p>
                </a>
            </article>
            <article class="Varios">
                <a href="">
                    <img src="" alt="">
                    <p>Varios</p>

                </a>
            </article>
        </section>
    </main>
</body>
</html>