<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Mi Compra</h2>
        <form action="" method="post">
            <div>
                <i class="fas fa-image"></i>
                <p>Nombre producto</p>
                <p>Cantidad</p>
                <p>Precio</p>
            </div>
            <div>
                <i class="fas fa-image"></i>
                <p>Nombre producto</p>
                <p>Cantidad</p>
                <p>Precio</p>
            </div>
            <div>
                <i class="fas fa-image"></i>
                <p>Nombre producto</p>
                <p>Cantidad</p>
                <p>Precio</p>
            </div>
            <div>
                <p>Total</p>
                <p>Precio</p>
            </div>
            <button type="submit">Confirmar compra</button>
            <a href="/product">Seguir comprando</a>
        </form>
    </main>
</body>
</html>