<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%-include('./partials/header')%>
    <main>
        <section>
            <h2>Agregar productos</h2>
            <form action="">
                <div class="contenedor-datos">
                <label for="nombreProducto">Nombre de Producto:</label>
                <input type="text" id="nombreProducto" placeholder="Nombre de producto">
                <label for="tipoProducto">Tipo:</label>
                <input type="text" id="tipoProducto" placeholder="Tipo">
                <label for="colorProducto">Color:</label>
                <input type="text" id="colorProducto" placeholder="Color">
                <label for="medidasProducto">Medidas:</label>
                <input type="text" id="medidasProducto" placeholder="Medidas">
                <label for="materialProducto">Material:</label>
                <input type="text" id="materialProducto" placeholder="Material">
                </div>
                <div class="contenedor-img">
                <label for="imgProducto">Imagen de Producto:</label>
                <input type="file" id="imgProducto">
                </div>
                <div class="contenedor-botones">
                    <button type="submit">Agregar</button>
                    <button type="reset">Resetear</button>
                </div>
            </form>
        </section>
    </main>
    <%-include('partials/footer')%>
</body>
</html>