<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mate1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
</head>
<body>
    <%-include('./partials/header')%>
    <main>
        <section class="detalleprod"> 
            <article class="image">
                <img src="/images/imagentipo.png" alt="">
                <h1>Nombre Producto  $$$$</h1>
            </article>
            <div>
                <button>Agregar al carrito</button>
            </div>
            <article class="detail">
                <p>Detalles del producto </p>
                <ul>
                    <li>Tipo</li>
                    <li>Color</li>
                    <li>Medidas</li>
                    <li>Material</li>
                </ul>
            </article>
        </section>
        <section class="relacionados">
                <h2>Productos relacionados</h2>
            <article>
                <img src="/images/imagentipo.png" alt="">
                <h4>Producto    $$$$</h4>
            </article>
            <article>
                <img src="/images/imagentipo.png" alt="">
                <h4>Producto    $$$$</h4>
            </article>
        </section>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>