<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mates</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <a href="/productDetail"> <img src="/images/imagentipo.png" alt="">
            <h4>Mate1   $$$$</h4> </a>
        </div>
        <div>
            <a href="/productDetail"> <img src="/images/imagentipo.png" alt="">
            <h4>Mate2   $$$$</h4> </a>
        </div>
        <div>
            <a href="/productDetail"> <img src="/images/imagentipo.png" alt="">
            <h4>Mate3   $$$$</h4> </a>
        </div>
        <div>
            <a href="/productDetail"> <img src="/images/imagentipo.png" alt="">
            <h4>Mate4   $$$$</h4> </a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>