<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mate1</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="imgprod">
            <img src="/images/imagentipo.png" alt="">
        </div>
        <h1>Nombre Producto  $$$$</h1>
        <div>
        <button>Agregar al carrito</button>
        </div>
        <p>Detalles del producto
            -Tipo
            -Color
            -Medidas
            -Material
        </p>
        <div class="relacionados">
            <h3>Productos relacionados</h3>
            <div>
                <img src="/images/imagentipo.png" alt="">
            </div>
            <div>
                <img src="/images/imagentipo.png" alt="">
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>