<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="rubros">
            <article class="tarjeta-rubro">
                <a href="">
                    <img src="/images/imagentipo.png" alt="">
                    <h3>Mates</h3>
                </a>
            </article>
            <article class="tarjeta-rubro">
                <a href="">
                    <img src="/images/imagentipo.png" alt="">
                    <h3>Vasos</h3>
                </a>
            </article>
            <article class="tarjeta-rubro">
                <a href="">
                    <img src="/images/imagentipo.png" alt="">
                    <h3>Bowls</h3>
                </a>
            </article>
            <article class="tarjeta-rubro">
                <a href="">
                    <img src="/images/imagentipo.png" alt="">
                    <h3>Varios</h3>

                </a>
            </article>
        </section>
    </main>
</body>
</html>