<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Registro</h2>
        <form action="" method="post">
            <input type="text" name="nombre" placeholder="nombre">
            <input type="email" name="email" placeholder="e-mail">
            <input type="password" name="contrase単a" placeholder="contrase単a">
            <input type="password" name="confirmContrase単a" placeholder="confirmar contrase単a">
            <button type="submit">Registrarse</button>
        </form>
    </main>
</body>
</html>