<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Iniciar sesi칩n'})%>
<main>
    <h2>Iniciar sesi칩n</h2>
    <% if (typeof errors != "undefined"){ %>
        <ul>
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <form action="/users/login" method="POST" class="forms form-login">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Contrase침a">
        <label for="remember">Recordame</label>
        <input type="checkbox" name="remember" id="remember">
        <a href="/users/register">No tenes cuenta? Registrate</a>
        <button type="submit">Iniciar sesi칩n</button>
    </form>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p><%= errorAlLoguear %></p>
    <% } %>
</main>
<%-include('../partials/footer')%>