
<script src="/js/validacionesSesion.js"></script>
<script src="/js/avisoCarrito.js"></script>
<link rel="stylesheet" href="/stylesheets/auth.css">
<%-include('../partials/header', {title: 'Iniciar sesión'})%>
<main>
    <% if (typeof errors != "undefined"){ %>
        <ul>
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <section class="section-form">
    <h2 class="titulo-form">Iniciar sesión</h2>
        <form action="/users/login" method="POST" class="forms form-login">
            <div class="grid-container">
                <div class="grid-item">
                    <input class="grid-input" type="email" name="email" id="email" placeholder="E-mail">
                    <div class="emailError error-style"></div>
                </div>
                <div class="grid-item">
                    <input class="grid-input" type="password" name="password" id="password" placeholder="Contraseña">
                    <div class="passwordError error-style"></div>
                </div>
            </div>
            <div class="recordame-container">
                <label for="remember">Recordame</label>
                <input class="grid-input" type="checkbox" name="remember" class="remember" id="remember">
            </div>
            <a href="/users/register" class="link-registro">¿No tenes cuenta? Registrate</a>
            <button class="guardar-cambios" type="submit">Iniciar sesión</button>
        </form>
    </section>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p><%= errorAlLoguear %></p>
    <% } %>

<!-- The Modal -->
<div id="myModal-cart" class="modal-cart">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="text"></p>
    </div>

</div>


</main>
<%-include('../partials/footer')%>