<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Iniciar sesi칩n'})%>
<main>
    <h2>Iniciar sesi칩n</h2>
    <form action="" method="POST" class="forms form-login">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Contrase침a">
        <a href="/users/register">No tenes cuenta? Registrate</a>
        <button type="submit">Iniciar sesi칩n</button>
    </form>
</main>
<%-include('../partials/footer')%>