<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Hola ' + usuario.nombre})%>

<main>
    <h2>Bienvenido <%=usuario.nombre%></h2>
</main>
<%-include('../partials/footer')%>