<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Registrate'})%>
<main>
    <h2>Registro</h2>
    <% if (typeof errors != "undefined"){ %>
    <ul style="padding: 0;">
        <% for (var i= 0; i< errors.length ; i++) { %>
        <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
        <%}%>
        </ul>
    <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
        <% } %>
        <form action="/users/register" method="POST" class="forms">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
            <input type="text" name="direccion" placeholder="Direccion">
            <input type="text" name="telefono" placeholder="Telefono">
            <button type="submit">Registrate</button>
        </form>
</main>
<%-include('../partials/footer')%>