<link rel="stylesheet" href="/stylesheets/forms.css">
<script src="/js/validacionesRegistro.js"></script>

<%-include('../partials/header', {title: 'Registrate'})%>
<main>
    <h2>Registro</h2>
    <% if (typeof errors != "undefined"){ %>
    <ul style="padding: 0;">
        <% for (var i= 0; i< errors.length ; i++) { %>
        <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
        <%}%>
        </ul>
    <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
    <% } %>
    <form action="/users/register" method="POST" class="forms">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <div class="nombreError"></div>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido">
        <div class="apellidoError"></div>
        <input type="email" name="email" id="email" placeholder="E-mail">
        <div class="emailError"></div>
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <div class="passwordError"></div>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña">
        <div class="confirmPasswordError"></div>
        <input type="text" name="direccion" id="direccion" placeholder="Direccion">
        <input type="text" name="telefono" id="telefono" placeholder="Telefono">
        <div class="telefonoError"></div>
        <button type="submit">Registrate</button>
    </form>
</main>
<%-include('../partials/footer')%>