<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Registrate'})%>
<main>
    <h2>Registro</h2>
    <% if (typeof errors != "undefined"){ %>
        <ul style="padding: 0;">
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li style="list-style: none"> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <form action="/users/register" method="POST" class="forms">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
        <button type="submit">Registrate</button>
    </form>
</main>
<%-include('../partials/footer')%>