<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Registrate'})%>
<main>
    <h2>Registro</h2>
    <form action="" method="POST" class="forms">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="contrase単a" placeholder="Contrase単a">
        <input type="password" name="confirmContrase単a" placeholder="Confirmar contrase単a">
        <button type="submit">Registrate</button>
    </form>
</main>
<%-include('../partials/footer')%>