<link rel="stylesheet" href="/stylesheets/forms.css">
<script src="/public/js/validaciones.js"></script>

<%-include('../partials/header', {title: 'Registrate'})%>
<main>
    <h2>Registro</h2>
    <% if (typeof errors != "undefined"){ %>
    <ul style="padding: 0;">
        <% for (var i= 0; i< errors.length ; i++) { %>
        <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
        <%}%>
        </ul>
    <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
<<<<<<< HEAD
    <% } %>
    <form action="/users/register" method="POST" class="forms">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
        <input type="email" name="email" id="email" placeholder="E-mail" required>
        <input type="password" name="password" id="password" placeholder="Contrase単a" required>
        <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a" required>
        <input type="text" name="direccion" id="direccion" placeholder="Direccion">
        <input type="text" name="telefono" id="telefono" placeholder="Telefono">
        <button type="submit">Registrate</button>
    </form>
=======
        <% } %>
        <form action="/users/register" method="POST" class="forms">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Contrase単a">
            <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a">
            <input type="text" name="direccion" placeholder="Direccion">
            <input type="text" name="telefono" placeholder="Telefono">
            <button type="submit">Registrate</button>
        </form>
>>>>>>> 004ef66246635b93cf1b9b54b4c420df859e66f4
</main>
<%-include('../partials/footer')%>