<footer>
    <div class="foot">
        <a href="https://wa.me/5491128056500" target="_blank" class="whatsapp"><img src="/images/whatsapp1.png"
                alt="logo whatsapp"></a>

        <div class="infofooter">
            <nav>
                <ul>
                    <a href="/products/rubro">
                        <li>Productos</li>
                    </a>
                    <a href="/contacto">
                        <li>Contacto</li>
                    </a>
                    <a href="/mayorista">
                        <li>Mayorista</li>
                    </a>
                    <a href="/faqs">
                        <li>FAQs</li>
                    </a>
                </ul>
            </nav>
            <div class="rrss">
                <h5 class="redes">Seguinos en nuestras redes:</h5>
                <div class="iconos">
                    <a href="https://www.instagram.com/cloverbazaryhome" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/pg/Clover-Bazar-Home-112693650469227" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="info">
                <h5>Contactanos:</h5>
                <a href="https://wa.me/5491128056500" target="_blank">
                    <p>Tel: +54 9 1128056500</p>
                </a>
                <a href="mailto:ventascloverbazar@gmail.com" target="_blank">
                    <p>ventascloverbazar@gmail.com</p>
                </a>
                <a href="https://goo.gl/maps/rX8ZoY3BKo2Xgcgp6" target="_blank">
                    <p>Villa Crespo, CABA</p>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>