<header>
    <div class="barra1">
        <a href="/productCart">
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </a>
        <a href="/login">
            <div class="loginButton">
                <button>Log In</button>
            </div>
        </a>
    </div>
    <div class="barra2">
        <a href="/">
            <div class="logo">
                <img src="/images/logo.png" alt="logo clover">
            </div>
        </a>
        <nav>
            <ul>
                <a href="/productRubro">
                    <li>Productos</li>
                </a>
                <a href="/contacto">
                    <li>Contacto</li>
                </a>
                <a href="/mayorista">
                    <li>Mayorista</li>
                </a>
                <a href="/faqs">
                    <li>FAQs</li>
                </a>
            </ul>
        </nav>
        <div class="menuysearch">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos" class="search-form-input">
                <button type="submit" class="search-form-button"><i class="fas fa-search"></i></button>
            </form>
            <div class="menu"><i class="fas fa-bars"></i></div>
        </div>

    </div>
</header>