main{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

img{
    display: block;
    max-width: 100px;
}

form{
    margin: auto;
}

.section-form{
    max-width: 1100px;
    display: flex;
    flex-flow: column;
    margin: 3rem auto;
    padding: 20px;
    position: relative;;
}

.section-form h2{
    font-size: 2.5rem;
}

.grid-container{
    border-bottom: solid 2px #fbdcc4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 280px;
    position: relative;
}

.grid-container a{
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-decoration: none;
}

.grid-item{
    padding: 1rem;
    align-self: center;
}

.grid-item__subtotal{
    font-weight: bold;
}

.confirmar-compra{
    background-color: #2e2e2e;
    color: white;
    font-size: 18px;
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}

.ctas-container{
    margin-top: 50px;
}

.seguir-comprando{
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

.total-compra{
    margin: 40px;
    font-size: 22px;
}

.total-precio{
    font-weight: bold;
    margin-left: 10px;
}

.link-container {
    margin-bottom: 100px;
}

.link-productos{
    margin-top: 40px;
    width: 150px;
    padding: 15px;
    border: solid 4px #fbdcc4;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: #2e2e2e;
    box-shadow: 5px 5px 25px -9px rgba(0,0,0,0.75);
}

.link-productos:hover{
    background-color: #fbdcc4;
    transition-duration: 200ms;
}
select{
    padding: 10px;
    background-color: rgb(46, 46, 46);
    color: #fbdcc4;
    border-radius: 5px;

}
select:hover{
    cursor:pointer;
    background-color: rgb(100,100,100);
}


@media (min-width: 768px){
    .grid-container{
    border-bottom: solid 2px #fbdcc4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    position: relative;
}
}