/* Uso body de nuevo para no tocar el archivo header.css, habria que agregar la font-family en ese archivo asi lo toma en todos */
*{
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

main{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2{
    font-weight: 400;
    color: rgb(46, 46, 46);
}


/* CSS del formulario*/
form.forms{
    margin: auto;
    padding: 10px;
    width: 300px;
    background-color: #fbdcc4;
    color: rgb(46, 46, 46);
    text-align: center;
    border-radius: 20px;
}


/* Los article remiten al carro de compras */
article{
    background-color: #faeded;
    padding: 10px;
    width: 100%;
}

article:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.total-compra{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

article:nth-child(odd){
    background-color: #fbdcc4;
    width: 100%;
}

form.forms input.cantidad {
    width: 50px;
}

/* Los article remiten al carro de compras */

img{
    width: 80px;

}

form.forms input {
    margin: 20px 20px 10px 20px;
    padding: 10px;
    border: none;
    width: 80%;
    border-radius: 5px;
}
form.forms input.remember {
    margin: 20px 20px 10px 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 20px;
}

form.forms input:first-child{
    margin-top: 30px;
}

form.forms button{
    margin: 10px 20px 20px 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(46, 46, 46);
    color: #fbdcc4;
}

form.forms a{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(46, 46, 46);
    font-size: 14px;
}

.formulario-carrito{
    background-color: white;
}

.confirmar-compra{
    margin-top: 20px;
}

@media(min-width: 768px){
    .formulario-carrito{
        width: 60%;
    }

    article{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 150px;
    }
}