*{
    font-family: 'Libre Franklin', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*HEADER*/
    /*Barra superior HEADER*/
header div.barra1 {
    background-color: #fbdcc4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
header div.barra1 div{
    padding: 10px;
}

    /*Barra inferior HEADER*/
header div.barra2{
    background-color: #faeded;
    display: flex;
    align-items: center;
    justify-content: space-around;/**/
    /*width: 100%;*/
    /*cambio 5*/
    padding: 20px; 
} 
header div.barra2 div.logo {
    width: 20%;
    margin-left: 15px;
}
header div.barra2 div.logo img{ 
    width: 70px;
}

header div.barra2 div.menuysearch {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 70%;
    margin-right: 11px;
    height: 20px;
}

header div.barra2 div.menuysearch form.search-form {
    margin-right: 15px;
}


header div.barra2 nav ul{
display: none;
}
header div.barra2 nav ul a{
    margin-right: 10px;
    }

header i{
    color: rgb(46, 46, 46);
}
/*cambio 1 -aca arranco los cambios del header 2-12-2020*/
header i.fa-bars{
font-size: 30px;
}


header div.loginButton button{
    border: 0;
    background-color:  rgb(46, 46, 46);
    border-radius: 5px;
    padding: 15px;
    color: #fbdcc4;
    background-color: rgb(46, 46, 46);

}

header form.search-form {
    display: flex;
    /*cambio 3 flex-wrap: wrap;*/
    justify-content: center;
}

header form.search-form input.search-form-input {
    
    /* cambio 2*/
    /*width: 40px;
    height: 20px;*/
    width: 80px;
    height: 30px;

    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}

header form.search-form button.search-form-button {
    background-color: white;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*cambio 4height: 20px;*/
    height: 30px;
    
}


header div.menu nav.menu-hamburguesa ul {
    display: none;
}

header div.menu nav.menu-hamburguesa ul li {
    list-style: none;
    border: 1px solid rgb(46, 46, 46);
    background-color: #faeded;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    padding: 5px;
}

header div.menu nav.menu-hamburguesa ul a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

header div.menu:hover nav.menu-hamburguesa ul {
    display: block;
    position: absolute;
    right: 10px;
    top: 100px;
}
header i.fa-shopping-cart{
    font-size: 25px;
}
/*FOOTER*/

footer {
    background-color: #fbdcc4;
}

footer div.foot {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

footer div.foot a i.fa-whatsapp {
    font-size: 40px;
    color: rgb(46, 46, 46);
    padding: 0;
    background-color: #4DCB5B;
    border-radius: 100%;
}

footer div.foot a.whatsapp {
    align-self: flex-end;
    margin-right: 5px;
    padding-top: 10px;
    position: fixed;
    bottom: 10px;
}

footer div.foot a.whatsapp img {
    width: 40px;
}

footer div.iconos a i{
    color: rgb(46, 46, 46);
    padding: 0;
    font-size: 25px;
    margin: 0;
}

footer div.iconos {
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: flex-start;
 }

footer div.info a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 14px;
}

footer nav ul a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 14px;
    line-height: 30px;
}

footer nav ul li {
    list-style: none;
}



@media(min-width:768px) {
    /*Cambios HEADER*/
    header div.barra2 div.logo {
        width: 90px;
    }

    header div.barra2 div.logo img{ 
        width: 90px;
    }
    
    header div.barra2 nav ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        width: 600px;
        justify-content: space-around;/**/
        padding-left: 0;
    }
    header div.barra2 nav ul :hover{
        color: rgb(100, 100, 100);
    }
    header div.barra1  #myBtn i:hover{
        cursor: pointer;
        color:  rgb(100, 100, 100);
        }
    header .loginbutton button:hover{
        cursor: pointer;
        background-color:  rgb(100, 100, 100);
       
    }

    header div.barra2 nav ul a {
        text-decoration: none;
        color: rgb(46, 46, 46);
    }

    header div.barra2 div.menuysearch div.menu {
        display: none;
    }

    header div.barra2 div.menuysearch form.search-form {
        margin-right: 0px;
    }

    header div.barra2 div.menuysearch {
        width: 100px;
    }

    header form.search-form {
        width: 100px;
    }

    header form.search-form input.search-form-input {
        width: 70px;
    }

    /*Cambios FOOTER*/

    footer div.foot a.whatsapp img {
        width: 60px;
    }

    footer div.foot a.whatsapp img:hover {
        width: 65px;
    }

    footer div.foot a.whatsapp {
        margin-right: 10px;
    }

    footer div.foot div.infofooter {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        width: 600px;
    }

    footer div.foot div.infofooter div.rrss {
        display: flex;
        flex-flow: column wrap;
    }

}

@media(min-width:1024px) {
    header form.search-form {
        width: 150px;
    }

    header div.barra2 div.menuysearch {
        width: 150px;
    }

    header form.search-form input.search-form-input {
       /*cambio 5 width: 115px;*/
       width: 170px; 
      
    }

}