*{
    box-sizing: border-box;
}
body{

    font-family: 'Libre Franklin', sans-serif;
}
main section.carrusel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main section.carrusel img{
justify-content: stretch;
width: 100%;
height: 100px;
/*le pongo altura para que no quede feo*/
}
main section.carrusel h1{ 
text-align: center;
color: rgb(46, 46, 46);
position: relative;
bottom: 90px;
font-weight: lighter;
}
main section.carrusel a{
    text-decoration: none;
    
}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
main h2{
    color: rgb(46, 46, 46);
    font-weight: 400;
    display: block;
    text-align: center;
}

main section img{
width: 100%;
}
main section.secciones h3{
    position: relative;
    font-weight: 400;
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 10px;
    position: relative;

}
main section a{
    text-decoration: none;
    
}

/*main section.productos article {
position: relative;
}*/

main section.productos article{
    width: 145px;
}
main section.productos  h3{
    position: relative;
    font-weight: 400;
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 10px;

}

main section form{
    background-color: #fbdcc4;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
main section form label{
    text-align: center;
    display: block;

}
main section form input{
    width: 90%;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    font-family: 'Libre Franklin', sans-serif;


}
main section form textarea{
    width: 90%;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'Libre Franklin', sans-serif;
    padding: 5px;
}
main section form button{
    width: 95px;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'Libre Franklin', sans-serif;
    padding: 5px;
    color: #fbdcc4;
    background-color: rgb(46, 46, 46);
}
@media (min-width: 768px){
    main section.productos article{
        width: 150px;
    }
    main  h2{
        text-align: left;
        margin-left: 30px;
        position: relative;
    }
}
@media (min-width: 1024px){
    main section.productos article{
        width: 230px;
    }
}
