body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

main h4 {
    max-width: 500px;
    margin: 0px 20px;
    padding: 0 10px;

}

main form{
    background-color: #fbdcc4;
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    border-radius: 15px;
}
main form label{
    text-align: center;
    display: block;

}
main form input{
    width: 90%;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    font-family: 'Libre Franklin', sans-serif;


}
main form textarea{
    width: 90%;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'Libre Franklin', sans-serif;
    padding: 10px;
}
main form button{
    width: 95px;
    border: 0;
    background-color:  rgb(46, 46, 46);
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    color: white;
    background-color: rgb(46, 46, 46);
}
main form button:hover{
    background-color:rgb(100, 100, 100);
    cursor: pointer;
   
}