main {
    padding-top: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

main section.detalleprod {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 95%;
}

main section article.image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section article.image img {
    width: 80%;
}

main section article.image h1.nombreprod {
    font-size: 24px;
    max-width: 80%;
    margin: 10px 0;
    text-align: center;
}

main section article.image h1.precioprod {
    font-size: 24px;
    max-width: 80%;
    margin: 5px 0 15px;
}

main section.detalleprod form.agregar-al-carrito button {
    width: 170px;
    border: 0;
    background-color:  rgb(46, 46, 46);
    border-radius: 5px;
    padding: 15px;
    color: #fbdcc4;
    background-color: rgb(46, 46, 46);
}

main section.detalleprod article.image div.contenedorDetalles {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

main section article.detail {
    font-size: 18px;
    width: 80%;
    border: 1px solid rgba(46, 46, 46,0.5);
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

main section article.detail ul {
    padding: 0;
}

main section article.detail li {
    list-style: none;
    font-size: 14px;
}

main section.relacionados {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto 20px;
    width: 90%;
}

main h2.titulorel {
    font-size: 20px;
    text-align: center;
}

main section.relacionados img {
    width: 210px;
}

main section.relacionados h4 {
    font-size: 14px;
    text-align: center;
}

main section.relacionados a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.add2{
    padding: 10px;
    color: blue
}


@media(min-width: 768px) {
    main section article.image img {
        width: 300px;
        height: 300px;
    }   

    main section.detalleprod article.image div.contenedorDetalles {
        height: 300px;
        width: 300px;
        align-items: center;
    }

    main section.detalleprod article.detail {
        width: 588px;
    }
    main section.relacionados {
        width: 600px;
    }
}
    .tachado{
        text-decoration: line-through;
        margin-right: 10px;
        color: rgb(100, 100, 100)
    }


@media(min-width: 1024px) {
     main section.relacionados {
        width: 90%;
        margin: 0px;
    }
}
