*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
}

main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main  h2{
    color: rgb(46, 46, 46);
    font-weight: 400;
    display: block;
    text-align: left;
    margin-left: 30px
}

main section img{
    width: 100%;
    }
main section h3{
        position: relative;
        font-weight: 400;
        color: rgb(46, 46, 46);
        padding-left: 10px;
        margin: 5px;
    
    }
main section a{
    text-decoration: none;
}
main section article .precios h3{
    display: inline-block;
}
main section article h3.precioConDto{
    color: black;
    margin-left: 15px;
}
main section article h3.tachado{
    text-decoration: line-through;
    color: rgb(100, 100, 100);    
}
@media (min-width: 768px){
    main section article{
        width: 270px;
    }
}