main {
    padding-top: 25px;
}

main section article.image {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section article.image img {
    width: 80%;
}

main section article.image h1 {
    font-size: 24px;
    max-width: 80%;
}

main section.detalleprod div {
    text-align: center;
}

main section.detalleprod div button {
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    background-color:rgb(46, 46, 46);
    color: #faeded;
}

main section article.detail {
    font-size: 18px;
    margin-left: 10%;
    max-width: 80%;
}

main section article.detail ul {
    padding: 0;
}

main section article.detail li {
    list-style: none;
    font-size: 14px;
}

main section.relacionados {
    text-align: center;
}

main section.relacionados h2 {
    font-size: 20px;
}

main section.relacionados img {
    width: 60%;
}

main section.relacionados h4 {
    font-size: 14px;
}