*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
}
main section.rubros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main  h2{
    color: rgb(46, 46, 46);
    font-weight: 400;
    font-size: 1.7rem;
    display: block;
    text-align: left;
    margin-left: 30px;
    position: relative;
}

main section img{
    width: 100%;
    }
main section.rubros h3{
        position: relative;
        font-weight: 400;
        color: rgb(46, 46, 46);
        padding-left: 10px;    
    }
main section a{
    text-decoration: none;
}